h1 {
   text-align: center;
   padding: 20px;
   margin: 20px;
   border-radius: 20px;
   color:maroon;
   font-family: 'Fredoka One', cursive;
   font-size: 60px;

}
p {
   padding:70px;
   margin:50px;
   padding: 19px;
   opacity: .9;
   clear:center;
   
